<div class="container">
  <mat-card class="companies" *ngFor="let company of companies; let i = index">
    <h3 class="text-center">{{ company.name }}</h3>
    <br />
    {{ company.info }}
    <p class="securityCode">
      Code sécurité: <b>{{ company.securityCode }}</b>
    </p>
  </mat-card>
</div>
