:host {
  height: 100%;
  width: 100%;
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat((4, 1fr));
  grid-auto-rows: 33%;
  grid-gap: 1.5rem;
  padding: var(--sidePadding);
}
