<app-page-with-nav>
  <ng-container leftNavbar>Liste des organisations</ng-container>

  <ng-container rightNavbar>
    <button
      type="submit"
      mat-raised-button
      (click)="openCreateDialog()"
      color="primary"
    >
      Créer une organization
    </button>
  </ng-container>

  <ng-container bodyContent>
    <app-company></app-company>
  </ng-container>
</app-page-with-nav>
