<form
  [formGroup]="companyCreationForm"
  class="center-col"
  (ngSubmit)="createCompanyClicked($event)"
>
  <h3 class="form-title">Créez une organisation</h3>

  <mat-dialog-content class="center-col">
    <mat-form-field appearance="fill">
      <mat-label>Nom de l'organisation</mat-label>
      <input
        matInput
        required
        autocomplete="off"
        spellcheck="false"
        formControlName="name"
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Info</mat-label>
      <input matInput formControlName="info" autocomplete="off" />
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      (click)="createCompanyClicked($event)"
      [disabled]="companyCreationForm.invalid"
    >
      Créer
    </button>
  </mat-dialog-actions>
</form>
