<nav>
  <h1 class="title">
    <span class="primary-color">Poly</span>
    <span class="secondary-color">Expert</span>
  </h1>

  <button mat-raised-button color="primary" (click)="openInfoDialog()">
    Aide
  </button>
</nav>

<div class="passwordContainer">
  <mat-card class="passwordContainer">
    <h3>Créez-vous un compte!</h3>

    <form
      [formGroup]="signUpForm"
      #form="ngForm"
      (ngSubmit)="createAccount($event)"
    >
      <mat-form-field appearance="fill">
        <mat-label>Identifiant</mat-label>
        <input matInput formControlName="id" />
        <mat-error *ngIf="id.errors?.['required']">
          Veuillez entrer un identifiant
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="mb-20">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
        <mat-hint>
          <p
            [ngStyle]="{
                        color:
                          email?.value.length > 0 && email.errors?.['email']
                            ? '#ed5269'
                            : ''
                      }"
          >
            Votre adresse courriel doit contenir le symbole @ et finir par un
            domaine (ex: .com, .ca, ...)
          </p>
        </mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill" class="mb-20">
        <mat-label>Nouveau mot de passe</mat-label>
        <input
          matInput
          autocomplete="on"
          [type]="this.hidePwd ? 'password' : 'text'"
          formControlName="pwd"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="this.hidePwd = onHidePassword($event, this.hidePwd)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="this.hidePwd"
        >
          <fa-icon [icon]="hidePwd ? eyeHideIcon : eyeShowIcon"></fa-icon>
        </button>

        <mat-hint>
          <p
            [ngStyle]="{
                color:
                pwd.errors?.['minlength']
                    ? '#ed5269'
                    : ''
              }"
          >
            Votre mot de passe doit être composé d'un minimum de 8 caractères
          </p>
        </mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Confirmation mot de passe</mat-label>
        <input
          matInput
          autocomplete="on"
          [type]="this.hideConfirmPwd ? 'password' : 'text'"
          formControlName="confirmPwd"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="
            this.hideConfirmPwd = onHidePassword($event, this.hideConfirmPwd)
          "
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="this.hideConfirmPwd"
        >
          <fa-icon
            [icon]="hideConfirmPwd ? eyeHideIcon : eyeShowIcon"
          ></fa-icon>
        </button>

        <mat-hint
          class="text-center"
          [ngStyle]="{
            color:
            signUpForm.errors?.['passwordNotMatch']
                ? '#ed5269'
                : 'rgba(0, 0, 0, 0)'
          }"
        >
          {{confirmPwd.errors?.['required'] ? 'Veuillez entrer un mot de passe' : 
    'Vos mots de passe ne correspondent pas'}}
        </mat-hint>
      </mat-form-field>
    </form>

    <div>
      <button
        class="confirmButton"
        mat-raised-button
        color="primary"
        [disabled]="this.signUpForm.invalid"
        (click)="createAccount($event)"
      >
        Créer Compte
      </button>
    </div>
  </mat-card>

  <div>
    <p>
      Utilisateur existant?
      <a href="/auth/login">Connectez-vous</a>
    </p>
  </div>
</div>
