@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap");

nav {
  width: 100%;
  height: var((--loginNavHeight));
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding);

  .title span {
    font-family: "Caveat", cursive !important;
    font-size: 2.3rem;
    letter-spacing: 1.1px;
  }
}

.titlePwd {
  padding: 20px;
  margin-top: 10vh;
}

.passwordContainer {
  display: grid;
  place-items: center;
  gap: 20px;

  form {
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
}

.mat-form-field {
  width: 100%;
}

.confirmButton {
  color: white;
}
