@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap");

:host {
  background-color: red;
}

nav {
  width: 100%;
  height: var((--loginNavHeight));
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding);

  .title span {
    font-family: "Caveat", cursive !important;
    font-size: 2.3rem;
    letter-spacing: 1.1px;
  }
}

main {
  width: 100%;
  height: calc(100vh - var(--loginNavHeight));
  padding: var(--padding);
  gap: 25px;
}

.login-container {
  gap: 20px;
  width: 400px;

  mat-form-field:not(:last-child) {
    margin-bottom: 30px;
  }

  form,
  .center-col,
  mat-form-field {
    width: 100%;
  }
}
