<nav>
  <h1 class="title">
    <span class="primary-color">Poly</span>
    <span class="secondary-color">Expert</span>
  </h1>

  <button mat-raised-button color="primary" (click)="openInfoDialog()">
    Aide
  </button>
</nav>

<main class="center-col">
  <mat-card class="center-col login-container">
    <h3>Connectez-vous!</h3>

    <form
      [formGroup]="loginForm"
      class="center-col"
      (ngSubmit)="onLoginClicked($event)"
    >
      <mat-dialog-content class="center-col">
        <mat-form-field appearance="fill">
          <mat-label>Adresse courriel</mat-label>
          <input
            matInput
            required
            autocomplete="off"
            spellcheck="false"
            formControlName="email"
          />
          <mat-hint>
            <p
              [ngStyle]="{
                color:
                  email?.value.length > 0 && email?.hasError('emailError')
                    ? '#ed5269'
                    : ''
              }"
            >
              Votre adresse courriel doit contenir le symbole @ et finir par un
              domaine (ex: .com, .ca, ...)
            </p>
          </mat-hint>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Mot de passe</mat-label>
          <input
            matInput
            formControlName="password"
            [type]="this.hidePwd ? 'password' : 'text'"
            autocomplete="on"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="onHidePassword($event)"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="this.hidePwd"
          >
            <fa-icon [icon]="hidePwd ? eyeHideIcon : eyeShowIcon"></fa-icon>
          </button>
        </mat-form-field>
      </mat-dialog-content>

      <mat-dialog-actions>
        <button
          type="submit"
          mat-raised-button
          color="primary"
          (click)="onLoginClicked($event)"
          [disabled]="loginForm.invalid"
        >
          Se connecter
        </button>
      </mat-dialog-actions>
    </form>
  </mat-card>

  <div>
    <p>
      Nouvel utilisateur?
      <a href="" (click)="onSignUpClicked($event)">Créez-vous un compte</a>
    </p>
  </div>
</main>
