<div id="svg-canvas-container"></div>

<app-spinner *ngIf="isMakingRequest"></app-spinner>

<div class="right-sidebar">
  <div class="tools-ui-container">
    <small>{{ scaleValue }}%</small>
  </div>
  <div class="tools-ui-container">
    <fa-icon
      class="icon pointer"
      matTooltip="Ajouter nouveau postit"
      [icon]="postitIcon"
      (click)="openNewPostitModal()"
    ></fa-icon>
  </div>

  <div *ngIf="backwardIcon" class="tools-ui-container mt-20">
    <fa-icon
      class="icon pointer"
      matTooltip="Retour vers matrice principale"
      [icon]="backwardIcon"
      (click)="openWholeMatrix()"
    ></fa-icon>
  </div>
</div>

<div class="bottom-sidebar">
  <div
    class="tools-ui-container horizontal-ui-container zone-container"
    *ngIf="zone.text"
  >
    <fa-icon class="icon" [icon]="arrowPointer"></fa-icon>
    <small>{{ zone.text?.name }} - {{ zone.index }}</small>
    <span
      class="zone-color"
      [ngStyle]="{ 'background-color': zone.color }"
    ></span>
  </div>
</div>
