:host {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#svg-canvas-container {
  width: 100%;
  height: 100%;
  user-select: none;
  position: absolute;
}

.right-sidebar {
  position: absolute;
  right: 10px;
  top: 20px;
  width: 45px;
}

.bottom-sidebar {
  position: absolute;
  bottom: 10px;
  right: 10px;
  min-width: 45px;
}

.tools-ui-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: center;
  box-shadow: 0px 2px 10px rgb(5 0 56 / 8%);
  margin-bottom: 5px;
  border-radius: 3px;
  padding: 8px 0;

  button {
    width: 100%;
    border: none;
    background-color: rgb(255, 255, 255);
    cursor: pointer;

    &:active {
      opacity: 0.4;
    }
  }
}

.horizontal-ui-container {
  padding: 5px;
  flex-direction: row;
  gap: 3px;
}

.zone-container {
  border: 1px solid #ccc;
  font-size: 0.85rem;

  .icon {
    opacity: 0.7;
    margin-right: 3px;
  }

  .zone-color {
    width: 14px;
    height: 14px;
    border: 1px solid #ccc;
    border-radius: 50%;
  }
}
