.icon-container {
  background-color: var(--backgroundColor);
  padding: 5px;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba($color: #000000, $alpha: 0.3);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  text-align: center;

  small {
    display: none;
  }

  &.opened {
    small {
      display: block;
    }
  }
}
