.container {
    display: grid;
    height: 100vh;
    width: 90vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "main main main"
    "content1 content2 content3";
    grid-gap: 1.5rem;
    padding: 25px;
  }

#main{
    //organisation picture
    background-image: url("./../../../../assets/images/Ciblexpert_Logo.png");
    background-size:     contain;
    background-repeat:   no-repeat;
    background-position: center right;
    background-color: lightgray;

    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
    align-items: center;

}

#content1{
    background-color: lightseagreen;
    grid-area: content1;
    display: grid;
    place-items: center;

}
#content2{
    background-color: lightgreen;
    grid-area: content2;
    display: grid;
    place-items: center;
}
#content3{
    background-color: lightseagreen;
    grid-area: content3;
    display: grid;
    place-items: center;
}

#profilePic {
    background-image: url("./../../../../assets/images/vincent photo.webp");
    background-size:     contain;
    background-repeat:   no-repeat;
    background-position: center center;

    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

#profilePic:hover {
    -webkit-filter: brightness(70%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer;
}

