<div class="container">
    <mat-card id="main">
        <mat-card id="profilePic" title="Changer photo de profil"></mat-card>

        <mat-card id="info">
            <div>Nom : Vincent</div>
            <div>Genre : Male</div>
            <div>Rôle : Animator</div>
        </mat-card>
    </mat-card>

    <mat-card id="content1">Projet 1</mat-card>
    <mat-card id="content2">Projet 2</mat-card>
</div>