<app-page-with-nav>
  <ng-container leftNavbar>
    <!-- {{ projectTrees.length }}
    {{ projectTrees.length > 1 ? "projets" : "projet" }} -->

    <h4 class="welcome-title">
      <span>Bonjour</span> {{ getUsername() }} <span>!</span>
    </h4>
    <fa-icon [icon]="handsIcon"></fa-icon>
  </ng-container>

  <ng-container rightNavbar>
    <button
      type="submit"
      mat-raised-button
      (click)="openCreateProjectDialog()"
      color="primary"
    >
      Créer un projet
    </button>
  </ng-container>

  <div class="projects-main-container" bodyContent>
    <div class="project-header text-center">
      <h4>
        <small>
          Cliquez sur un noeud d'un des arbres pour ouvrir et analyser un
          projet!
        </small>
      </h4>
      <small [ngStyle]="{ opacity: isMakingRequest ? 0 : 1 }"
        >Vous avez accès à {{ projectTrees.length + 1 }}
        {{ projectTrees.length > 1 ? "projets" : "projet" }}</small
      >

      <div
        [ngStyle]="{
          opacity: isMakingRequest || projectTrees.length === 0 ? 0 : 1
        }"
        class="legend-container"
      >
        <div class="legend-item" *ngFor="let item of getLegend()">
          <span [ngClass]="item.cssClass"></span>
          <small>{{ item.title }}</small>
        </div>
      </div>
    </div>

    <div id="projects-container">
      <!-- project trees will be appended in here -->

      <app-spinner *ngIf="isMakingRequest"></app-spinner>

      <p
        *ngIf="!isMakingRequest && projectTrees.length === 0"
        class="no-project-container"
      >
        Vous n'avez pas de projet créé pour l'instant!
      </p>
    </div>
  </div>
</app-page-with-nav>
