:host {
  height: 100%;
  width: 100%;
}

.projects-main-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

#projects-container {
  width: 100%;
  flex: 1;
  display: grid;
  grid-template-columns: repeat((3, 1fr));
  grid-auto-rows: 70%;
  gap: 15px;
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  padding: 0 var(--sidePadding);
}

.no-project-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.welcome-title span {
  font-weight: normal;
}

.project-header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.legend-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  align-self: flex-end;
  margin-right: var(--sidePadding);

  .legend-item {
    display: flex;
    gap: 5px;
  }

  span {
    --size: 20px;
    width: var(--size);
    height: var(--size);
    border-radius: 5px;
  }
}
