<form
  [formGroup]="postitForm"
  class="form-container"
  id="create-postit-form"
  (ngSubmit)="onCreate($event)"
>
  <h3 class="form-title">Créez un nouveau postit</h3>

  <mat-dialog-content class="form-content-container">
    <div class="postit-colors">
      <mat-label>Choisissez une couleur</mat-label>
      <div>
        <span
          *ngFor="let postitClass of postitClasses"
          class="{{ postitClass }}"
          [ngClass]="{ active: postitClass === cssClass }"
          (click)="setCssClass(postitClass)"
        >
          <fa-icon
            *ngIf="postitClass === cssClass"
            [icon]="check"
            class="icon"
          ></fa-icon>
        </span>
      </div>
    </div>

    <mat-form-field appearance="fill">
      <mat-label>Choisissez une zone</mat-label>
      <mat-select formControlName="zoneId">
        <mat-option *ngFor="let zone of zones" value="{{ zone.index }}">
          <small>{{ zone.text.name }} (#{{ zone.index }})</small>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Texte</mat-label>
      <textarea matInput formControlName="text"></textarea>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions class="form-actions-container">
    <button type="button" class="mat-raised-button" (click)="close()">
      Annuler
    </button>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      (click)="onCreate($event)"
      [disabled]="postitForm.invalid"
    >
      Ajouter
    </button>
  </mat-dialog-actions>
</form>
