.postit-colors {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;

  div,
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  span {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 3px rgba($color: #000000, $alpha: 0.3);
    opacity: 0.5;
    transition: 0.2s opacity;

    .icon {
      opacity: 0.6;
    }

    &:hover {
      opacity: 0.8;
    }

    &.active {
      opacity: 1;
    }
  }
}
