<app-page-template>
  <div topSidebar>
    <app-sidebar-button
      *ngIf="isAdmin()"
      [faIcon]="faHammer"
      toolTip="Page d'administrateur"
      title="Administrateur"
      [callback]="goToAdminCb"
    ></app-sidebar-button>
  </div>

  <div bottomSidebar></div>

  <router-outlet mainContent></router-outlet>
</app-page-template>
