// d3 elements styling

// d3-menu
.d3-context-menu {
  position: absolute;
  display: none;
  background-color: #f2f2f2;
  border-radius: 4px;
  box-shadow: 0px 5px 10px rgba(5, 0, 56, 0.2);

  font-size: 14px;
  min-width: 150px;
  border: 1px solid #d4d4d4;

  z-index: 1200;

  ul {
    list-style-type: none;
    margin: 4px 0px;
    padding: 0px;
    cursor: default;

    .is-divider {
      pointer-events: none;
    }

    li {
      padding: 4px 10px;
      cursor: pointer;

      &:hover {
        background-color: #4677f8;
        color: #fefefe;
      }
    }
  }
}

// postit card
.postit-g-container {
  .postit-main-container {
    display: inline-block;
    cursor: pointer;
    border-radius: 2px;
    position: absolute;
    top: 0;
    left: 0;

    &.orange-postit:hover {
      background-color: #f5db6a;
    }

    &.redish-postit:hover {
      background-color: #e6798a;
    }

    &.green-postit:hover {
      background-color: #a7e7aa;
    }
  }

  .postit-holder {
    display: flex;
    flex-direction: column;
    padding: 3px 5px;
    text-align: center;
  }

  &.dragging {
    .postit-main-container {
      &.orange-postit {
        background-color: #fef8bb;
      }

      &.redish-postit {
        background-color: rgb(247, 172, 185);
      }

      &.green-postit {
        background-color: #64b069;
      }
    }
  }

  text {
    pointer-events: none;
  }

  .postit-zone-nb {
    align-self: flex-end;
    font-size: 10px;
    margin-bottom: 2px;
  }

  .postit-text {
    font-size: 12px;
  }

  foreignObject {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.2));
  }
}

.orange-postit {
  background-color: orange;
  fill: orange;
}

.redish-postit {
  background-color: #f16c7f;
  fill: #f16c7f;
}

.green-postit {
  background-color: #7fd184;
  fill: #7fd184;
}

// tree
.node-div {
  height: 100%;
  border-radius: 5px;
  padding: 2px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.node-div-clickable {
  cursor: pointer;
  transition: 0.3s background-color;

  &:hover {
    background-color: #ffb733;
  }
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

.project-tree {
  scroll-snap-align: start;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba($color: #000000, $alpha: 0.3);
}
