/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: ibmPlex !important;
}

html {
  overflow: hidden;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--backgroundColor);
  overflow-x: hidden;
}

.primary-color {
  color: var(--primaryTextColor);
}

.secondary-color {
  color: var(--secondaryTextColor);
}

.text-center {
  text-align: center;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.pos-rel {
  position: relative;
}

.center,
.center-col {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.center-col {
  flex-direction: column;
}

.pointer {
  cursor: pointer;
}

.sidebar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .main-sidebar {
    flex: 1;
    padding-top: var(--padding);
  }

  .main-sidebar,
  .bottom-sidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.1));
}

// snackbar
.warning-container {
  background-color: var(--errorColor);
  color: white;
}

.success-container {
  background-color: var(--successColor);
  color: white;
  font-weight: bold;
}

.center-snackbar-text .mat-simple-snackbar {
  justify-content: center;
}

// forms
.mat-dialog-container {
  overflow: hidden !important;
}

.form-container,
.form-content-container {
  display: flex !important;
  flex-direction: column;
  align-items: center;
}

.form-title {
  margin-bottom: 20px;
}

.form-actions-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
