// common variables used in other scss files

@font-face {
  src: url("/assets/fonts/IBM_Plex_Sans_Regular.ttf");
  font-family: ibmPlex;
}

:root {
  --backgroundColor: #ecf0f3;
  --secondaryBackgroundColor: #fff;

  --primaryTextColor: #183153;
  --secondaryTextColor: #5f697d;
  --errorColor: #ed5269;
  --successColor: #01b68b;

  --sidePadding: 10px;
  --padding: 20px;
  --loginNavHeight: 70px;
  --appNavbarHeight: 45px;
}
