<div class="passwordContainer">
  <h2 class="titlePwd">Changez votre mot de passe!</h2>

  <form [formGroup]="changePwdForm" #form="ngForm" (ngSubmit)="confirm($event)">
    <mat-form-field appearance="fill">
      <mat-label>Ancien mot de passe</mat-label>
      <input
        autocomplete="on"
        matInput
        [type]="this.hideOld ? 'password' : 'text'"
        formControlName="oldPwd"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="this.hideOld = onHidePassword($event, this.hideOld)"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="this.hideOld"
      >
        <fa-icon [icon]="hideOld ? eyeHideIcon : eyeShowIcon"></fa-icon>
      </button>
      <mat-error *ngIf="oldPwd.errors?.['required']">
        Veuillez entrer un mot de passe
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="mb-20">
      <mat-label>Nouveau mot de passe</mat-label>
      <input
        matInput
        autocomplete="on"
        [type]="this.hideNew ? 'password' : 'text'"
        formControlName="newPwd"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="this.hideNew = onHidePassword($event, this.hideNew)"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="this.hideNew"
      >
        <fa-icon [icon]="hideNew ? eyeHideIcon : eyeShowIcon"></fa-icon>
      </button>

      <mat-hint>
        <p
          [ngStyle]="{
              color:
              newPwd.errors?.['minlength']
                  ? '#ed5269'
                  : ''
            }"
        >
          Votre mot de passe doit être composé d'un minimum de 8 caractères
        </p>
      </mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Confirmation mot de passe</mat-label>
      <input
        matInput
        autocomplete="on"
        [type]="this.hideConfirmation ? 'password' : 'text'"
        formControlName="confirmPwd"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="
          this.hideConfirmation = onHidePassword($event, this.hideConfirmation)
        "
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="this.hideConfirmation"
      >
        <fa-icon
          [icon]="hideConfirmation ? eyeHideIcon : eyeShowIcon"
        ></fa-icon>
      </button>

      <mat-hint
        [ngStyle]="{
            color:
              changePwdForm.errors?.['passwordNotMatch']
                ? '#ed5269'
                : 'rgba(0, 0, 0, 0)'
          }"
      >
        {{confirmPwd.errors?.['required'] ? "Veuillez entrer un mot de passe" : "Les mots de passe ne correspondent pas"}}
      </mat-hint>
    </mat-form-field>
  </form>

  <div>
    <button
      class="confirmButton"
      mat-raised-button
      color="primary"
      [disabled]="this.changePwdForm.invalid"
      (click)="confirm($event)"
    >
      Confirmer
    </button>
  </div>
</div>
