.titlePwd {
  padding: 20px;
}

.passwordContainer {
  display: grid;
  place-items: center;
  gap: 20px;

  form {
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
}

.mat-form-field {
  width: 100%;
}
