<aside [ngClass]="{ opened: openSidebar }">
  <fa-icon
    class="toggle-icon"
    [icon]="openSidebar ? faCircleXmark : faBars"
    (click)="toggleSidebar()"
  ></fa-icon>

  <div class="sidebar">
    <div class="main-sidebar">
      <app-home-button></app-home-button>
      <ng-content select="[topSidebar]"></ng-content>
    </div>

    <div class="bottom-sidebar">
      <ng-content select="[bottomSidebar]"></ng-content>
      <app-sidebar-button [matMenuTriggerFor]="profileMenu"
        [faIcon]="faUser"
        title="Profil utilisateur"
        toolTip="Profil d'utilisateur"
        [callback]="goToProfileCb"
      ></app-sidebar-button>

      <mat-menu #profileMenu="matMenu">
        <button mat-menu-item (click)="openPasswordBottomSheet()">Modifier mot de passe</button>
        <button mat-menu-item *ngIf="this.isAdmin()">Ajouter compte</button>
      </mat-menu>
      <app-log-out-button></app-log-out-button>
    </div>
  </div>
</aside>

<main class="center-col">
  <ng-content select="[mainContent]"></ng-content>
</main>
