:host {
  display: flex;
}

aside {
  width: 50px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--padding) 0 10px 0;
  background-color: var(--secondaryBackgroundColor);
  box-shadow: 0 3px 3px rgba($color: #000000, $alpha: 0.3);
  transition: 0.2s width;

  .toggle-icon {
    cursor: pointer;
  }

  &.opened {
    width: 150px;
    padding: var(--padding);

    .toggle-icon {
      margin-left: auto;
    }
  }
}

main {
  flex: 1;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
