<nav>
  <div class="left-navbar">
    <ng-content select="[leftNavbar]"></ng-content>
  </div>

  <div class="right-navbar">
    <ng-content select="[rightNavbar]"></ng-content>
  </div>
</nav>

<main>
  <ng-content select="[bodyContent]"></ng-content>
</main>
