:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

nav {
  width: 100%;
  height: var(--appNavbarHeight);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--sidePadding);

  .right-navbar,
  .left-navbar {
    display: flex;
    gap: 10px;
  }
}

main {
  width: 100%;
  height: calc(100vh - var(--appNavbarHeight));
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  padding: var(--sidePadding) 0;
}
