<form
  [formGroup]="projectCreationForm"
  class="center-col"
  (ngSubmit)="createProjectClicked($event)"
>
  <h3 class="form-title">Créez un nouveau projet</h3>

  <mat-dialog-content class="center-col">
    <mat-form-field appearance="fill">
      <mat-label>Fonction du projet</mat-label>
      <input
        matInput
        required
        autocomplete="off"
        spellcheck="false"
        formControlName="fonction"
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Question de la cartographie</mat-label>
      <input matInput required formControlName="question" autocomplete="off" />
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions class="pos-rel ov-hidden">
    <button
      *ngIf="!isMakingRequest"
      type="submit"
      mat-raised-button
      color="primary"
      (click)="createProjectClicked($event)"
      [disabled]="projectCreationForm.invalid"
    >
      Créer
    </button>

    <app-spinner *ngIf="isMakingRequest"></app-spinner>
  </mat-dialog-actions>
</form>
